= form_for @users_order, url: users_orders_path do |f|
  - if @users_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@users_order.errors.count, "error")} prohibited this users_order from being saved:"
      %ul
        - @users_order.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
